# <center> Assignment 2 </center>

**What does a Dictionary value with a key 'foo' and a value 42 look like ?**

In [1]:
Dictionary = {"foo" : 42}

In [2]:
Dictionary.keys(), Dictionary.values()

(dict_keys(['foo']), dict_values([42]))

**Below are two given lists convert it in dictionary**

In [3]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

newdict = dict(zip(keys, values))
newdict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

**Check if a value 200 exists in a dictionary**

In [4]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}

In [5]:
val = list(sampleDict.values())
if 200 in val:
    print('200 exist in dictionary')
else:
    print('200 does not exist in dictionary')

200 exist in dictionary

**Concatenate Lists index-wise**

In [6]:
list1 = ['A','B','C','D']
list2 = ['a','b','c','d']

In [7]:
list1 = ['A','B','C','D']
list2 = ['a','b','c','d']
list3 = [i+j for i, j in zip(list1,list2)]
print(list3)

['Aa', 'Bb', 'Cc', 'Dd']

**Access Grey from the following Tuple**

In [8]:
# Tup = ('orange',['Black','Grey',30],(5, 10, 15))

In [9]:
atuple = ('orange',['Black','Grey',30],(5, 10, 15))
print(atuple[1][1])

Grey

**Swap the following Tuples**

In [10]:
tuple1 = (11, 22)
tuple2 = (99, 88)
# Expected Output : tuple1 = (99, 88), tuple2= (11, 22)

In [11]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

**Write 2 ways to remove elements from a List**

In [12]:
# list.remove(element)

list1 = ["a", "b", "c"]
list1.remove("b")
list1 # removed specific element from list

['a', 'c']

In [13]:
# list.pop(index) 

list2 = ["a", "b", "c"]
list2.pop()
list2 # popped from end

['a', 'b']

**Write a Difference between lists and tuples**

### Tuple is also a sequence data type that can contain elements of different data types, but these are immutable in nature. In other words, a tuple is a collection of Python objects separated by commas

**Sort the Following List**

In [14]:
spam = ['Alice','Dog','Assure','ants','Bob','Carol','Flower']

In [15]:
sorted(set(spam))

['Alice', 'Assure', 'Bob', 'Carol', 'Dog', 'Flower', 'ants']

**Find the Maximum of three numbers**

In [16]:
a = 10
b = 14
c = 12
print(max(a, b, c))

14

**Give an Example of Replacing Elements of a String**

In [17]:
string = "Hello there"
string.replace('e', '+')
# e replaced with +

'H+llo th+r+'

**Find the uncommon elements from both the sets**

In [18]:
set1 = {'a','b','c'}
set2 = {'c','d','e'}

common = set1.intersection(set2)
unite = set1.union(set2)

uncommon = unite - common
uncommon

{'a', 'b', 'd', 'e'}

**Check the Divisibilty of a Number by another Number**

In [19]:
# let
n = 4
k = 2

n % k == 0
# remainder division

True

**use Random Number to generate 5 digit system generated password**

In [20]:
import random
pas = []

for i in range(5):
    d = str(random.randint(1, 9)) 
    pas.append(d)
    
password = ''.join(pas) 
password

'36276'

**Calculate th area of a circle with the input of radius given by user**

In [21]:
import math
radius = float(input('Enter radius (in cm) : '))

area = math.pi*radius**2
print(f'Area of circle with radius {radius} cm is {area} cm square')

Enter radius (in cm) : 34.2
Area of circle with radius 34.2 cm is 3674.532431344766 cm square

**What is the difference betwen Append and Insert in List, Explain with Example**

In [22]:
list1 = ["a", "b"]
list1.insert(1, "c")
print(list1) # inserted at index 1

['a', 'c', 'b']

In [23]:
list2 = ["a", "b"]
list2.append("c")
list2 # appended at end of list

['a', 'b', 'c']

code created only for practice purpose by Sumit Kumar Shukla