<a href="https://colab.research.google.com/github/imvickykumar999/Algorithms/blob/main/NumPy_Excersie_I_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center> Excercise - NumPy I </center>

### 1. Import the Package under the name np

In [ ]:
import numpy as np

### 2. Print the NumPy version

In [ ]:
print(np.__version__)

1.19.5

### 3. Create a 2d Array

In [ ]:
arr = np.array([[1,2,3],[4,5,6]])
print(arr)

[[1 2 3]
 [4 5 6]]

### 4. Create an Array and find the sqrt, and sin values of it

In [ ]:
a = np.array([1,2,3])
b = np.array([[1.5,2,3],[4,5,6]])

In [ ]:
a = np.array([1,2,3])
print(np.sqrt(a))
print()
print(np.sin(a))

[1.         1.41421356 1.73205081]

[0.84147098 0.90929743 0.14112001]

In [ ]:
b = np.array([[1.5,2,3],[4,5,6]])
print(np.sqrt(b))
print()
print(np.sin(b))

[[1.22474487 1.41421356 1.73205081]
 [2.         2.23606798 2.44948974]]

[[ 0.99749499  0.90929743  0.14112001]
 [-0.7568025  -0.95892427 -0.2794155 ]]

### 5. Create a 6d Array using ndmin and convert it to Bool Type

In [ ]:
import numpy as np
arr = np.array([1,0,1,0], ndmin=6, dtype=bool)

print(arr)
print('shape of an array :', arr.shape)

[[[[[[ True False  True False]]]]]]
shape of an array : (1, 1, 1, 1, 1, 4)

### 6. Given the array below, find the dot product of it

In [ ]:
arr1 = np.array([2, 3, 4])
arr2 = np.array([3, 4, 5])

In [ ]:
arr1.dot(arr2)

38

### 7. Check if All the elements of `arr1` is greater than `arr2`

In [ ]:
min(arr1) > max(arr2)
# if min of arr1 is not greater than arr2, then All the elements of arr1 is NOT greater than arr2

False

### 8. given below is an array find the number of rows of the array and the total number of elements

In [ ]:
arr3 = np.array([[1, 2], [2, 3], [3, 4], [5, 6]])

rows = len(arr3)
rows

4

In [ ]:
columns = len(arr3[0])
total_length = rows * columns

total_length

8

### 9. Create a 3d Array and find its shape

In [ ]:
n,k,g = 3, 5 ,4 
lst = [[[0]*n]*k]*g

from pprint import pprint
pprint(lst)
print()

arr3d = np.array(lst)
arr3d.shape

[[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]],
 [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]],
 [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]],
 [[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]]

(4, 5, 3)

### 10. Compare whether arr1 and arr2 are equal ?

In [ ]:
check = (arr1 == arr2)
print(check)

all(check)
# The all() function returns True if all items in an iterable are true, otherwise it returns False.

[False False False]

False