#### Calculte the sum of the digits of a 3 - digit random number

In [43]:
import random
rndm = n = random.randint(0, 999)
tot=0

while(n>0):
    dig=n%10
    tot=tot+dig
    n=n//10
    
print(f'Sum of all digit of random number {rndm} is ', tot)

Sum of all digit of random number 582 is  15

#### Determine the percntage of lowercase and upper case in a string

In [68]:
# string = 'Hello'
string = input('Enter a String : ')

str_len = len(string)
up = down = 0
box = []

for i in string:
    if i.isalpha():
        box.append(i)

for i in box:
    if i.isupper():
        up+=1
    else:
        down+=1
        
print(f'''
Percentage of UpperCase is {up*100/str_len} %
and, LowerCase is {down*100/str_len} % in...
{string}''')

Enter a String : Hello, There.

Percentage of UpperCase is 15.384615384615385 %
and, LowerCase is 61.53846153846154 % in...
Hello, There.

#### Find the longest word in a string

In [95]:
string = "be confident and be yourself"
lst = list(string.split(" "))
long = sorted(lst, key = len)
print(long[-1])

confident

#### Take random 1000 numbers and seperate a list of positive and negative numbers from it

In [129]:
NumList =  [random.randint(-10, 10) for i in range(1000)]
Positive = []
Negative = []

for j in range(1000):
    if NumList[j] >= 0:
        Positive.append(NumList[j])
    else:
        Negative.append(NumList[j])

print("\nElement in Positive List is : ", Positive)
print("\nElement in Negative List is : ", Negative)

Element in Positive List is :  [9, 7, 7, 5, 1, 10, 4, 7, 7, 1, 8, 4, 3, 2, 10, 8, 5, 0, 9, 10, 5, 5, 1, 10, 6, 3, 0, 5, 7, 7, 2, 4, 2, 8, 5, 10, 10, 6, 0, 8, 5, 9, 10, 7, 10, 0, 3, 2, 8, 6, 3, 5, 7, 5, 0, 9, 6, 4, 4, 9, 10, 1, 5, 8, 0, 2, 8, 3, 9, 5, 2, 3, 6, 7, 5, 2, 6, 2, 4, 9, 9, 3, 4, 0, 9, 5, 2, 6, 1, 7, 8, 4, 7, 1, 5, 8, 7, 2, 0, 6, 4, 6, 1, 10, 1, 2, 4, 10, 1, 3, 6, 2, 0, 6, 2, 5, 5, 0, 0, 3, 1, 7, 0, 7, 2, 3, 6, 2, 9, 5, 3, 2, 2, 9, 6, 9, 3, 5, 4, 0, 10, 8, 0, 10, 6, 5, 5, 4, 1, 8, 10, 5, 4, 3, 10, 6, 8, 9, 3, 8, 10, 3, 7, 4, 10, 1, 1, 9, 9, 10, 4, 3, 1, 1, 6, 4, 7, 2, 5, 2, 4, 8, 6, 5, 10, 10, 6, 3, 2, 9, 10, 10, 1, 3, 9, 10, 0, 3, 1, 10, 8, 2, 3, 7, 3, 7, 3, 2, 6, 7, 10, 7, 4, 4, 5, 9, 9, 5, 10, 10, 4, 10, 9, 4, 7, 0, 5, 5, 1, 6, 3, 6, 3, 0, 9, 4, 8, 0, 2, 0, 9, 10, 10, 4, 10, 4, 3, 1, 2, 8, 2, 9, 4, 7, 3, 5, 0, 0, 9, 2, 3, 2, 6, 3, 5, 7, 5, 4, 6, 2, 10, 0, 3, 8, 6, 10, 7, 4, 0, 2, 6, 2, 3, 8, 6, 9, 6, 10, 10, 4, 0, 7, 0, 10, 4, 2, 9, 8, 0, 6, 3, 0, 8, 1, 10, 10, 1, 4, 0, 9, 6, 5, 1, 3, 8, 2, 0, 0, 1, 6, 6, 4, 9, 4, 1, 1, 1, 0, 4, 10, 8, 8, 4, 8, 0, 8, 1, 3, 10, 9, 0, 10, 1, 1, 7, 0, 9, 3, 2, 10, 6, 7, 3, 2, 10, 8, 7, 1, 10, 1, 1, 0, 8, 6, 2, 5, 4, 8, 7, 1, 5, 8, 10, 2, 1, 1, 3, 8, 5, 5, 7, 3, 7, 4, 0, 2, 5, 2, 2, 8, 7, 9, 9, 8, 2, 7, 9, 5, 4, 4, 3, 9, 5, 8, 3, 3, 0, 9, 1, 3, 6, 2, 8, 2, 5, 6, 2, 2, 1, 4, 9, 9, 5, 4, 9, 3, 5, 7, 3, 8, 7, 7, 5, 1, 1, 6, 5, 5, 7, 5, 10, 1, 6, 0, 5, 0, 9, 7, 6, 7, 10, 4, 10, 7, 6, 10, 9, 2, 7, 8, 10, 7, 5, 0, 7, 8, 9, 10, 4, 10, 4, 6, 0, 0, 0, 2, 1, 0, 2, 10, 10, 1, 9, 1, 10, 0, 6, 7, 10, 5, 2, 3, 6, 8, 1, 0, 7, 8, 5, 5, 0, 8, 9, 0, 4, 6, 2, 9, 0, 1, 9, 3, 10, 6, 9, 7, 6, 0]

Element in Negative List is :  [-5, -6, -10, -6, -2, -5, -1, -10, -8, -3, -1, -6, -2, -3, -5, -7, -8, -6, -8, -3, -6, -4, -1, -3, -7, -6, -5, -1, -4, -7, -10, -9, -7, -3, -8, -9, -8, -10, -2, -6, -2, -1, -5, -2, -9, -6, -3, -1, -10, -7, -10, -5, -4, -3, -10, -5, -6, -4, -10, -8, -3, -8, -1, -3, -3, -6, -10, -3, -1, -2, -8, -8, -9, -2, -5, -9, -6, -7, -3, -5, -4, -4, -1, -7, -7, -7, -5, -4, -5, -5, -10, -5, -7, -5, -9, -2, -9, -7, -1, -10, -10, -6, -4, -9, -3, -2, -2, -8, -2, -7, -1, -2, -3, -2, -9, -3, -3, -10, -8, -2, -5, -1, -9, -1, -6, -7, -6, -3, -5, -7, -3, -8, -7, -5, -9, -6, -5, -10, -5, -4, -7, -4, -3, -3, -4, -1, -4, -6, -5, -1, -3, -6, -9, -7, -6, -9, -6, -4, -10, -6, -7, -1, -5, -4, -1, -8, -7, -5, -9, -4, -8, -2, -2, -4, -1, -3, -9, -10, -4, -8, -8, -7, -3, -3, -2, -6, -2, -5, -9, -1, -10, -7, -3, -3, -6, -3, -9, -10, -2, -9, -4, -9, -7, -10, -4, -3, -3, -8, -8, -2, -3, -8, -6, -8, -7, -7, -1, -3, -5, -5, -6, -4, -7, -6, -3, -1, -8, -2, -7, -6, -2, -5, -7, -9, -3, -9, -4, -5, -7, -9, -7, -7, -10, -2, -2, -3, -6, -4, -9, -4, -3, -1, -5, -6, -6, -6, -2, -9, -8, -5, -2, -4, -4, -4, -4, -2, -10, -6, -10, -10, -6, -7, -4, -2, -3, -2, -1, -9, -3, -3, -8, -8, -3, -4, -4, -10, -9, -7, -10, -1, -5, -2, -9, -6, -6, -9, -5, -6, -9, -4, -7, -3, -5, -8, -7, -10, -9, -8, -5, -7, -5, -10, -2, -3, -1, -10, -7, -5, -8, -9, -3, -5, -5, -4, -6, -4, -6, -2, -3, -5, -3, -2, -8, -5, -3, -3, -9, -10, -1, -5, -6, -6, -9, -5, -9, -5, -7, -2, -10, -8, -9, -8, -2, -9, -9, -8, -10, -3, -2, -2, -8, -8, -1, -2, -8, -7, -4, -10, -4, -1, -2, -1, -5, -9, -3, -10, -7, -5, -4, -8, -3, -4, -3, -7, -3, -2, -9, -6, -10, -4, -4, -7, -9, -10, -4, -1, -2, -6, -6, -1, -1, -4, -5, -3, -4, -9, -6, -9, -5, -5, -7, -9, -3, -2, -5, -9, -8, -3, -2, -9, -2, -10, -1, -4, -1, -1, -8, -6, -7, -3, -8, -2, -1, -3, -4, -8, -3, -7, -6, -3, -2, -7, -3, -6, -8, -8, -10, -10, -3, -9, -2, -1, -10, -9, -5, -2, -6, -5, -9, -5, -8, -6, -2, -7, -3, -7, -8, -10, -6, -7, -2, -9, -10, -4, -3, -5, -6, -2, -8, -4, -7, -2]

#### Determine the letter number in an alphabet

In [133]:
[ord(char) - 96 for char in input('Write Text: ').lower()]

Write Text: cghcvghcugj

[3, 7, 8, 3, 22, 7, 8, 3, 21, 7, 10]

#### Check the divisibilty of a number by the another number.

In [137]:
num1 = 45
num2 = 5

if not num1 % num2:
    print('Divisible')
else:
    print('Not Divisible')

Divisible

#### Is is possibe to form a trinagle wiht user given points ?

In [142]:
def checkTriangle(x1, y1, x2, y2, x3, y3):
    a = (x1 * (y2 - y3) +
        x2 * (y3 - y1) +
        x3 * (y1 - y2))
    
    if a == 0:
        print('No')
    else:
        print('Yes')

if __name__=='__main__':
    (x1, x2, x3) = (1, 2, 3)
#     (x1, x2, x3) = (1, 5, 3)
    (y1, y2, y3) = (1, 2, 3)

    checkTriangle(x1, y1, x2, y2, x3, y3)

No

#### calculate the mass, density and volume given by the user

In [145]:
mass = int(input('Enter Mass (in kg): '))
vol = int(input('Enter Volume (in meter cube): '))

print(f'\nDensity is {mass/vol} kg per meter cube')

Enter Mass (in kg): 100
Enter Volume (in meter cube): 5

Density is 20.0 kg per meter cube

#### Check if theo followings sets are disjoint or not ?

In [155]:
set1 = {1, 2, 5, 6}
set2 = {7, 9, 3, 4}

if bool(set1.intersection(set2)):
    print('Pair of given sets are NOT Disjoint')
else:
    print('Pair of given sets are Disjoint')

Pair of given sets are Disjoint

**Create a Function that can find the sum of more than 2 argumnents** Hint: args

In [162]:
def add(*args):
    sum = 0
    print('Elements are...')
    for i in args:
        print(i, end=', ')
        sum += i
    return sum
        
total = add(7, 5, 20) 
print(f'\n\nSum = {total}')

Elements are...
7, 5, 20,

Sum = 32

**Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of them. And also it must return both addition and subtraction in a single return call**

In [165]:
def calculation(a, b):
    return a+b, a-b

result = calculation(4,7)

print(f'Sum = {result[0]}')
print(f'Difference = {result[1]}')

Sum = 11
Difference = -3

**Create a function showEmployee() in such a way that it should accept employee name, and its salary and display both. If the salary is missing in the function call assign default value 9000 to salary**

In [168]:
def showEmployee(name, sal = 9000):
    print(f'Name : {name}')
    print(f'Salary : {sal}')
    print()
    
showEmployee('A', 4000)
showEmployee('B')

Name : A
Salary : 4000

Name : B
Salary : 9000

**Find the last position of a substring “Emma” in a given string**

In [177]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."

ind = str1.split()
sum = 0

for i in range(len(ind)):
    sum += len(ind[i])
    if ind[i] == 'Emma':
        print(sum-1)

3
38

**Split a given string on hyphens into several substrings and display each substring**

In [184]:
str1 = 'Emma-is-a-data-scientist'
# ' '.join(str1.split('-'))
str1.split('-')

['Emma', 'is', 'a', 'data', 'scientist']

**Merge following two Python dictionaries into one**

In [186]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict1.update(dict2)
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

**Rename key city to location in the following dictionary**

In [187]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sampleDict.get('city')

'New york'

**Display numbers from -10 to -1 using for loop**

In [188]:
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

**Use a loop to display elements from a given list that are present at even index positions**

In [193]:
lst = [1, 3.14, 'hi', 34.12, 9, "hello"]
for i in range(len(lst)):
    if i%2 == 0:
        print(lst[i], f' at index {i}')

1  at index 0
hi  at index 2
9  at index 4

**Display float number with 2 decimal places using print()**

In [195]:
float("{:.2f}".format(3.1416))

3.14